@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {

  -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#injury {

}

#injury:hover {

}

#sportsdude {
  width: 100%;
}

#injury {
  width: 100%;
}

#injury2 {
  width: 100%;
}

#injury3 {
  width: 100%;
}

#injury4 {
  width: 100%;
}

#whistle {
  width: 100%;
}

#bandaid {
  width: 100%;
}

#helmet {
  width: 100%;
}

#refshirt {
  width: 100%;
}

#ambulance {
  width: 100%;
}

#water {
  width: 100%;
}

#rectangle {
  width: 100%;
}

#horn {
  width: 100%;
}

#morethan {
  width: 100%;
}

#million {
  width: 100%;
}

#prevention {
  width: 100%;
}

#sport {
  width: 100%;
}

#youthsports {
  width: 100%;
}

#growth {
width: 100%;
}

#football {
width: 100%;
}

#finger {
width: 100%;
}

#knee {
width: 100%;
}
